
:root{
--pimary-text-color: #212121;
--secondary-text-color:#757575;
--white-color: #FFFFFF;
--background-color:#2196F3;
--background2-color: #2F303A;
--background3-color:#F5F4FA;
}
body{

font-family: 'Roboto', sans-serif;
}
ul{

list-style: none;
padding: 0;
margin: 0;
}
li{
list-style-type: none;  
}
a{text-decoration: none;
font-style: normal;
}
p{
    margin: 0;
}
h2{margin: 0;}
h3{margin: 0;}
img{
    display: block;
    width: 100%;
    height: auto;
}

