.client-section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.client-section__title{
    display: flex;
}
.client-section__item:not(:last-child){
    margin-right: 30px;
}
.client-section__link:hover, .client-section__link:focus{
    fill: var(--background-color);
    border-color: var(--background-color);
}

.client-section__link{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill:#AFB1B8 ;
    display: flex;
    justify-content: center;
    align-items: center;
width: 170px;
height: 92px;
border: 1px solid #AFB1B8;
box-sizing: border-box;
border-radius: 4px;
}
.client-section__logo{
    color: currentColor;
    width: 106px;
    height: 60px;
}